  <script>
  function showAlert() {
    alert ("Registration Sucsessful!");
  }
  </script>
<!-- Header Section -->
<%- include('../components/header.ejs'); %>

<!-- Main Navigation Section -->
<%- include('../components/main_nav.ejs'); %>

<div class="container">
  <div class="row">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
    <div class="alert alert-danger"><%= messages %></div>
    <% } %>
  </div>

  <form method="POST" class="mt-5 p-4 regForm">
    <h3 class="text-center mb-4">Create Your Account</h3>

    <!-- username input -->
    <div class="form-outline mb-4 col-md-12">
      <input type="text" name="username" id="uname" class="form-control" />
      <label class="form-label" for="uname">Username</label>
    </div>

    <!-- password input -->
    <div class="form-outline mb-4 col-md-12">
      <input type="password" name="password" id="pwd1" class="form-control"/>
      <label class="form-label" for="pwd1">Password</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4 col-md-12">
      <input type="email" name="email" id="emailAddress" class="form-control" />
      <label class="form-label" for="emailAddress">Email</label>
    </div>

    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" name="fname" id="frstname" class="form-control" />
          <label class="form-label" for="frstname">First Name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" name="lname" id="lstname" class="form-control" />
          <label class="form-label" for="lstname">Last Name</label>
        </div>
      </div>
    </div>

    <!-- gender input -->
    <div class="form-outline mb-4 col-md-12">
      <input type="gen" name="email" id="emailAddress" class="form-control" />
      <label class="form-label" for="emailAddress">Email</label>
    </div>


    <!-- City dropdown -->
    <div class="row mb-4">
      <div class="col ctyDropDown">
        <select class="select ctySlctn" id="ctySelection" name="citySel">
          <option value="Ajax">Ajax</option>
          <option value="Brampton">Brampton</option>
          <option value="Guelph">Guelph</option>
          <option value="Hamilton">Hamilton</option>
          <option value="Kitchener">Kitchener</option>
          <option value="London">London</option>
          <option value="Markham">Markham</option>
          <option value="Mississauga">Mississauga</option>
          <option value="Niagara Falls">Niagara Falls</option>
          <option value="Ottawa">Ottawa</option>
          <option value="Pickering">Pickering</option>
          <option value="Scarborough">Scarborough</option>
          <option value="Sudbury">Sudbury</option>
          <option value="Toronto">Toronto</option>
          <option value="Vaughn">Vaughn</option>
        </select>
        <label class="form-label select-label">City</label>
      </div>
      <!-- Birthday input -->
      <div class="col">
        <div class="form-outline datepicker" data-mdb-format="yyyy/mm/dd" data-mdb-inline="true">
          <input
            type="text"
            name="birthday"
            class="form-control"
            id="bdayPicker"
          />
          <label for="bdayPicker" class="form-label">Birthday</label>
        </div>
      </div>
    </div>

    <!-- Checkbox -->
    <h4 class="text-center mb-2 pt-2">Interests</h4>
    <div class="container cbContainer">
      <div class="interestsCB">
        <label for="Anime">
          <input type="checkbox" id="Anime" name="Anime" value="Anime" class="cbInterest">
          <span>Anime</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Art">
          <input type="checkbox" id="Art" name="Art" value="Art" class="cbInterest">
          <span>Art</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Astronomy">
          <input type="checkbox" id="Astronomy" name="Astronomy" value="Astronomy" class="cbInterest">
          <span>Astronomy</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Books">
          <input type="checkbox" id="Books" name="Books" value="Books" class="cbInterest">
          <span>Books</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Business">
          <input type="checkbox" id="Business" name="Business" value="Business" class="cbInterest">
          <span>Business</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="College">
          <input type="checkbox" id="College" name="College" value="College" class="cbInterest">
          <span>College</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Cosplay">
          <input type="checkbox" id="Cosplay" name="Cosplay" value="Cosplay" class="cbInterest">
          <span>Cosplay</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Couples">
          <input type="checkbox" id="Couples" name="Couples" value="Couples" class="cbInterest">
          <span>Couples</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Culture">
          <input type="checkbox" id="Culture" name="Culture" value="Culture" class="cbInterest">
          <span>Culture</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Gaming">
          <input type="checkbox" id="Gaming" name="Gaming" value="Gaming" class="cbInterest">
          <span>Gaming</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Hiking">
          <input type="checkbox" id="Hiking" name="Hiking" value="Hiking" class="cbInterest">
          <span>Hiking</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="JobSeeking">
          <input type="checkbox" id="JobSeeking" name="JobSeeking" value="JobSeeking" class="cbInterest">
          <span>Job-Seeking</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="LGBTQA">
          <input type="checkbox" id="LGBTQA" name="LGBTQA" value="LGBTQA" class="cbInterest">
          <span>LGBTQA</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="LanguageExchange">
          <input type="checkbox" id="LanguageExchange" name="LanguageExchange" value="LanguageExchange" class="cbInterest">
          <span>Language Exchange</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="MotivationalSpeaking">
          <input type="checkbox" id="MotivationalSpeaking" name="MotivationalSpeaking" value="MotivationalSpeaking" class="cbInterest">
          <span>Motivational Speaking</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Movies">
          <input type="checkbox" id="Movies" name="Movies" value="Movies" class="cbInterest">
          <span>Movies</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Nature">
          <input type="checkbox" id="Nature" name="Nature" value="Nature" class="cbInterest">
          <span>Nature</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Newcomers">
          <input type="checkbox" id="Newcomers" name="Newcomers" value="Newcomers" class="cbInterest">
          <span>Newcomers</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Party">
          <input type="checkbox" id="Party" name="Party" value="Party" class="cbInterest">
          <span>Party</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Profession">
          <input type="checkbox" id="Profession" name="Profession" value="Profession" class="cbInterest">
          <span>Profession</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Recruiting">
          <input type="checkbox" id="Recruiting" name="Recruiting" value="Recruiting" class="cbInterest">
          <span>Recruiting</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="School">
          <input type="checkbox" id="School" name="School" value="School" class="cbInterest">
          <span>School</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Singles">
          <input type="checkbox" id="Singles" name="Singles" value="Singles" class="cbInterest">
          <span>Singles</span>
        </label>
      </div>
      <div class="interestsCB">
        <label for="Sports">
          <input type="checkbox" id="Sports" name="Sports" value="Sports" class="cbInterest">
          <span>Sports</span>
        </label>
      </div>
      </div>

    <!-- Submit button -->
    <div class="row">
      <div class="col-md-6"></div>
    <div class="col-md-6 text-end pt-4">
      <button type="submit" id="submitButton" class="btn mb-4 regBtn" value="Register" onclick="showAlert()">Sign Up</button>
    </div>
    </div>
  </form>
</div>

<p class="text-center text-muted small pt-1">
  Already have an account? 
  <a href="/login">Sign in</a>
</p>

<!-- Bottom Navigation Section -->
<%- include('../components/bottom_nav.ejs'); %>

<!-- JavaScript Section -->
<%- include('../components/footer.ejs'); %>
