<link rel="stylesheet" type="text/css" href="/Content/eventdetails.css">

<div class="mainWindow">
  <div class="photoContainer"></div>
  <h1 class id="signInTitle">Event:<%= events.eventName %></h1>

  <div class="location">
    <img src="Assets/images/location_pin.png" class="img-fluid" alt="Location Pin" width="20" height="20">
    <h5 class="townLbl">Location:<%= events.city %> </h5>
  </div> 
    
    <div class="eventTime">
    <h6>Event Start Time: <%=events.eventStartTime%></h6>
     <h6>Event End Time: <%=events.eventEndTime%></h6>
  </div>

 <div class="price">
    <h6>Price: <%= events.price%></h6>
  </div>

   <div class="descriptionContainer">
    <h6> <%= events.description%></h6>
  </div>


  <div class="tags">
    <h6><%= events.tags%></h6>
  </div>  


</div>