
 <!-- CSS and dependencies -->

 <link rel="stylesheet" type="text/css" href="/Content/home.css">

<!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
   


  <!-- Main Content -->

  <div class="container">
          
    <main>
    <section id="intro" >
      <div class="row">

        <div class="col">
            <h1>Welcome to <%= title %></h1>
            <h3>Find awesome events tailored to your interest!</h3>
            <h6>Welcome to MyEvent, discover hundreds of awesome events and activities that interest you, or sign up for free and post your own for people near you. Our goal is to help connect users to help simplify the process for searching events/activities tailored to your interests.</h6>
        </div>

        <div class="col img-col">
          <img src="Assets/images/Why.png" class="img-fluid" alt="Why MyEvent?">
        </div>      
      </div>
        
      <div class="row" class="row cards">
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="Assets/images/landing_box.png" class="icon" alt="All in one box"/>
              <h5 class="card-title">All the festivals and events happening around you are now in one place</h5>
              <p>No more random Google articles with outdated information! Every event in MyEvent is as fresh as veggies in your local WholeFoods.</p>
            </div>
          </div>
        </div>
          
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="Assets/images/landing_check.png" class="icon" alt="All in one box"/>
              <h5 class="card-title">Security and liability</h5>
              <p>Each event organizer provides information about their event independently, so be sure of the price and place accuracy!</p>
              </div>
          </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="Assets/images/landing_user.png" class="icon" alt="All in one box"/>
              <h5 class="card-title">User-friendly interface, easy to navigate</h5>
              <p> You are able to save events that you are interested in to review them later or share a link with your friends.</p>
              </div>
          </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="Assets/images/landing_plan.png" class="icon" alt="All in one box"/>
              <h5 class="card-title">Plan everything beforehand</h5>
              <p>We've got you covered! Every event displayed to you will have all the necessary information, like price, place or other special requirements.</p>
              </div>
          </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="Assets/images/landing_smile.png" class="icon" alt="All in one box"/>
              <h5 class="card-title">Have fun!</h5>
              <p>You can set up your preferences, and the app will automatically display the perfect match for you. Just like Tinder, but with events.</p>
            </div>
          </div>
        </div>
         
      </div>
    </section>

     <!-- Tutorial -->
     <div class id="box">
     <div style=" width: 0px; margin: auto;">
     <section id="intro2">
            <div class="col-md-4 d-flex justify-content-center">
             <div class="" >
              <h5 style="color:#285fa8"> <img src="Assets/images/landing-register.png" class="icon" alt="All in one box"/>
              Get involved! <br>Watch the video on how to get started: </h5>
              <iframe width="952" height="535.5" src="https://www.youtube.com/embed/IUN664s7N-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          </div>
    </section>
    </div>
    </div>
    <br><br>

<!--Popular events section - Make changes after populating data-->

 <section id="pop_events">
      <h3>Popular events</h3>

      <div id="PopularEventsCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overlay-image"
          style="background-image:url(Assets/carousel_images/forest1.jpeg);"></div>
          <div class="container">
        <!-- <img src="Assets/carousel_images/forest1.jpeg" class="d-block w-100" alt="Forest in the dark">-->
        
        <!-- Function For Popular Events --> 
        <%events.forEach(event => {%>
        <%if (event.interestedCounter > 5) { %>
           <h5><%= event.eventName%></h5> 
           <p><%= event.description%></p>
              
          <% } %>
           <%})%>
    
            <button  type="button" onclick="window.location.href='/events'"class="btn btn-lg btn-primary">
            Read more
            </button>
          </div>
        </div>
        <div class="carousel-item ">
        <div class="overlay-image"
          style="background-image:url(Assets/carousel_images/forest2.jpeg);"></div>
         
          <div class="container">
            <h5>Second event name</h5>
            <p>Second event description.</p>
            <button  type="button" onclick="window.location.href='/events'"class="btn btn-lg btn-primary">
            Read more
            </button>
          </div>
        </div>
        <div class="carousel-item">
        <div class="overlay-image"
          style="background-image:url(Assets/carousel_images/mountain.jpeg);"></div>
          <div class="container">
            <h5>Third event name</h5>
            <p>Third event description.</p>
             <button  type="button" onclick="window.location.href='/events'"class="btn btn-lg btn-primary">
            Read more
            </button>
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#PopularEventsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#PopularEventsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
        </div>
      </div>

    </section>






<!--
    <section id="pop_events">
      <h3>Popular events</h3>

      <div id="PopularEventsCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overlay-image"
          style="background-image:url(Assets/carousel_images/forest1.jpeg);"></div>
          <div class="container">
        <!-- <img src="Assets/carousel_images/forest1.jpeg" class="d-block w-100" alt="Forest in the dark">-->
        
        <!-- Function For Popular Events --> 
        <%events.forEach(event => {%>
        <%if (event.interestedCounter > 5) { %>
           <h5><%= event.eventName%></h5> 
           <p><%= event.description%></p>
              
          <% } %>
           <%})%>
    
            <button  type="button" onclick="window.location.href='/events'"class="btn btn-lg btn-primary">
            Read more
            </button>
          </div>
        </div>
        <div class="carousel-item ">
        <div class="overlay-image"
          style="background-image:url(Assets/carousel_images/forest2.jpeg);"></div>
         
          <div class="container">
            <h5>Second event name</h5>
            <p>Second event description.</p>
            <button  type="button" onclick="window.location.href='/events'"class="btn btn-lg btn-primary">
            Read more
            </button>
          </div>
        </div>
        <div class="carousel-item">
        <div class="overlay-image"
          style="background-image:url(Assets/carousel_images/mountain.jpeg);"></div>
          <div class="container">
            <h5>Third event name</h5>
            <p>Third event description.</p>
             <button  type="button" onclick="window.location.href='/events'"class="btn btn-lg btn-primary">
            Read more
            </button>
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#PopularEventsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#PopularEventsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
        </div>
      </div>

    </section>

  </main>
</div>