<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<div class="container">
    <h1>
        <%= title %>
    </h1>
<link rel="stylesheet" type="text/css" href="/Content/eventdetails.css">

<div class="mainWindow">
  <div class="photoContainer"></div>
  <h1 class id="signInTitle"><%= events.eventName %></h1>

  <div class="location">
    <img src="/Assets/images/location_pin.png" class="img-fluid" alt="Location Pin" width="20" height="20">
    <h5 class="townLbl"><%= events.city %> </h5>
  </div> 
  <span class="info">
      <h6 class = "infoLabel">Start Time:</h6>
      <h6 class = "infoLabel">End Time: </h6>
      <h6 class = "infoLabel">Price: </h6>
      <h6 class = "infoLabel">Tags: </h6>
  </span> 
  <span class="info">
      <h6 class = "infoText"><%=events.eventStartTime.toDateString()%></h6>
      <h6 class = "infoText"><%=events.eventEndTime.toDateString()%></h6>
      <h6 class = "infoText">$<%= events.price%></h6>
      <h6 class = "infoText"><%= events.tags%></h6>
 </span> 
 <div class="descriptionContainer">
  <h6> <%= events.description%></h6>
</div>
</div>
</div>
