<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">



<div class="container">
  <h1>
    <%= title %>
  </h1>

<link rel="stylesheet" type="text/css" href="/Content/findevents.css">


  <div class="eventWindow">
    <div class="eventHeader">
      <div class="eventCity">
        <p><%=events[0].city%></p>
      </div>
    </div>
    <div class="container">
    
      <!-- <div class="eventFilter">
        <ul>
          <li>Date</li>
          <li>Budget</li>
          <li>Location</li>
          <li>
            Number of People <br>
            <input type="range" min="1" max="1000" value="50" class="slider" id="participantsRange">
          </li>
        </ul>
      </div>     -->
      <div id="evImg" class="eventPhoto" style="background-image:url(Assets/carousel_images/forest1.jpeg);">
       
       
        <div  class="eventInfo">
          <i class="fa fa-info" aria-hidden="true"><p id="evName"><%=events[0].eventName%></p></i>
        </div>
        <div  class="numberOfPeople">
          <i class="fa fa-users" aria-hidden="true"><p id="evDesc"><%=events[0].interestedCounter%></p></i>
        </div>
        <div  class="eventDetails">
          <i class="fa fa-book" aria-hidden="true"><p id="evDesc"><%=events[0].description%></p></i>
        </div>
      </div>

      <div class="eventControls">
      <form action="/events" method="post">
        <input type="hidden" name="eventId" id="eventIdNoInput" value="<%=events[0].id%>" />
        <input type="hidden" name="userAction" id="userAction" value="no" />
        <button type="submit" id="notInterestedBtn" class="no"><i class="fa fa-times" aria-hidden="true"></i></button>
      </form>
      <form action="/events" method="post">
        <input type="hidden" name="eventId" id="eventIdYesInput" value="<%=events[0].id%>" />
        <input type="hidden" name="userAction" id="userAction" value="yes" />
        <button type="submit" id="saveBtn" class="yes" ><i class="fa fa-heart" aria-hidden="true"></i></button>
      </form>
      </div>  
    </div>
  </div>
  
</div>
  <!-- <script>
   let eventImg=document.getElementById("evImg");
   let evName = document.getElementById("evName");
   let evDesc = document.getElementById("evDesc");
   let counter = 0;
   const eventsArray= <//%- JSON.stringify(events) %>;
   evName.innerHTML = eventsArray[counter].eventName;
   evDesc.innerHTML = eventsArray[counter].description;

   /*let eventId = eventsArray[counter].id;

   let eventIdTwoObjects = document.getElementsByClassName(eventId);
   eventIdTwoObjects[0].value = eventId;
   eventIdTwoObjects[1].value = eventId;*/

   /*let eventId = eventsArray[counter].id;

   let eventIdYesInput = document.getElementById(eventId);
   eventIdYesInput.value = eventId;*/
   
   function showNextEvent() {
     if(counter<eventsArray.length){
       counter++;
     }
     else{
       counter=0;
     }
     if(counter%2==0){
       eventImg.style.backgroundImage="url(Assets/carousel_images/forest1.jpeg)";
     }
     else{
       eventImg.style.backgroundImage="url(Assets/carousel_images/mountain.jpeg)";
     }
     
   evName.innerHTML = eventsArray[counter].eventName;
   evDesc.innerHTML = eventsArray[counter].description;
  }
   </script> -->
